* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gowun Batang", serif;
}
:root {
  --color-212529: #212529;
  --color-ffd333: #ffd333;
  --color-47ad24: #47ad24;
  --color-e52e2e: #e52e2e;
  --color-828599: #828599;
  --color-3d464d: #ed464d;
  --color-ced4da: #ced4da;
  --color-6c757d: #6c757d;
}
.green {
  color: var(--color-47ad24);
  font-size: 14px;
}
.red {
  color: var(--color-e52e2e);
  font-size: 14px;
}

.form-control {
  box-shadow: none;
  border-radius: var(--color-212529);
}
.title {
  font-size: 24px;
  color: var(--color-212529);
  font-weight: 500;
}
.sub-title {
  font-size: 24px;
  columns: var(--color-212529);
}
.cardTitle {
  font-size: 14px;
  font-weight: 400;
  color: var(--color-828599);
}

.cardDescription {
  font-size: 12px;
  font-weight: 300;
  color: var(--color-828599);
}

.breadCrumbItems {
  color: var(--color-828599);
  text-decoration: none;
}
.breadCrumbItems:hover {
  text-decoration: underline;
  color: var(--color-828599);
}

.gap-10 {
  gap: 0.625rem;
}

.gap-15 {
  gap: 0.9375rem;
}

.gap-20 {
  gap: 1.25rem;
}

.gap-25 {
  gap: 1.5625rem;
}

.gap-30 {
  gap: 1.875rem;
}

.gap-35 {
  gap: 2.1875rem;
}

.gap-40 {
  gap: 2.5rem;
}

.gap-45 {
  gap: 2.8125rem;
}

.gap-50 {
  gap: 3.125rem;
}

.gap-55 {
  gap: 3.4375rem;
}

.gap-60 {
  gap: 3.75rem;
}

.gap-65 {
  gap: 4.0625rem;
}

.gap-70 {
  gap: 4.375rem;
}

.gap-75 {
  gap: 4.6875rem;
}

.gap-80 {
  gap: 5rem;
}

.menuItemsText {
  font-size: 14px;
  font-weight: 700;
  color: var(--color-ced4da);
  text-align: start;
}

.ant-menu-item-selected {
  background-color: var(--color-212529) !important;
  color: white !important;
}

.ant-menu-item-selected .menuItemsText {
  font-weight: bold;
}

.ant-menu-item:hover {
  background-color: rgba(24, 144, 255, 0.1);
}

.firstName {
  font-size: 14px;
  font-weight: 400;
  color: var(--color-212529);
  cursor: pointer;
}
.firstName:hover {
  text-decoration: underline;
}
.email {
  font-size: 13px;
  font-weight: 300;
  color: var(--color-6c757d);
}
